% if language == 'en'
	% set header_subheading = 'are married'
% else
	% set header_subheading = 'gaan trouwen'
% endif

<div class="sixteen columns logo">
	<div class="ten columns alpha">
		<a class="logo" href="/{{ language }}">Chris &amp; Gitte<br/><span class="subheading">{{ header_subheading }}</span></a>
	</div>
	<div class="six columns omega language">
		% if language == 'en'
			<a class="language language_be" href="{{ mirror_language_link }}">Vlaams</a>
		% else
			<a class="language language_en" href="{{ mirror_language_link }}">English</a>
		% endif
	</div>
</div>

