% if language == 'en'
	% set header_subheading = 'are getting married'
% else
	% set header_subheading = ''
% endif

<div class="row">
	<div class="span5 offset1">
		<a class="logo">Chris &amp; Gitte<br/><span class="subheading">{{ header_subheading }}</span></a>
	</div>
	<div class="span5">
		% if language == 'en'
			<a class="language language_be" href="{{ mirror_language_link }}">Vlaams</a>
		% else
			<a class="language language_en" href="{{ mirror_language_link }}">English</a>
		% endif
	</div>
</div>

