<div class="row">
	<div class="span10 offset1">
		% if language == 'en'
			<ul class="nav">
				<li><a href="/{{ language }}/">Home</a></li>
				<li><a href="/{{ language }}/ceremony-and-reception">Ceremony and Reception</a></li>
				<li><a href="/{{ language }}/wedding-party">Wedding Party</a></li>
				<li><a href="/{{ language }}/getting-here">Getting Here</a></li>
				<li><a href="/{{ language }}/your-time-in-maine">Your time in Maine</a></li>
				<li><a href="/{{ language }}/photo-album">Photo Album</a></li>
				<li><a href="/{{ language }}/registry">Registry</a></li>
				<li><a href="/{{ language }}/guest-book">Guest Book</a></li>
				<li><a href="/{{ language }}/rsvp">RSVP</a></li>
			</ul>
		% else
			<ul class="nav">
				<li><a href="/{{ language }}/">Thuis</a></li>
				<li><a href="/{{ language }}/ceremony-and-reception">Ceremonie and Receptie</a></li>
				<li><a href="/{{ language }}/wedding-party">Bruiloft Leden</a></li>
				<li><a href="/{{ language }}/getting-here">Bereikbaarheid</a></li>
				<li><a href="/{{ language }}/your-time-in-maine">Uw tijd in Maine</a></li>
				<li><a href="/{{ language }}/photo-album">Foto Album</a></li>
				<li><a href="/{{ language }}/registry">Registry</a></li>
				<li><a href="/{{ language }}/guest-book">Gastenboek</a></li>
				<li><a href="/{{ language }}/rsvp">RSVP</a></li>
			</ul>
		% endif
	</div>
</div>

