<div class="row">
	<div class="span10 offset1">
		% if language == 'en'
			<ul class="nav">
				<li><a href="/{{ language }}/">Home</a></li>
				<li><a href="/{{ language }}/ceremony-and-reception">Ceremony and Reception</a></li>
				<li><a href="/{{ language }}/getting-here">Getting Here</a></li>
				<li><a href="/{{ language }}/your-time-in-maine">Your Time in Maine</a></li>
				<li><a href="/{{ language }}/photo-album">Photo Album</a></li>
				<li><a href="/{{ language }}/registry">Registry</a></li>
				<li><a href="/{{ language }}/guest-book">Guest Book</a></li>
				<li><a href="/{{ language }}/rehearsal-dinner">Rehearsal Dinner</a></li>
			</ul>
		% else
			<ul class="nav">
				<li><a href="/{{ language }}/">Home</a></li>
				<li><a href="/{{ language }}/ceremony-and-reception">Huwelijk en Avondfeest</a></li>
				<li><a href="/{{ language }}/getting-here">Bereikbaarheid</a></li>
				<li><a href="/{{ language }}/your-time-in-maine">Uw Tijd in Maine</a></li>
				<li><a href="/{{ language }}/photo-album">Fotoalbum</a></li>
				<li><a href="/{{ language }}/registry">Huwelijkslijst</a></li>
				<li><a href="/{{ language }}/guest-book">Gastenboek</a></li>
			</ul>
		% endif
	</div>
</div>

