% extends "base.html"

% if language == 'en'
	% set banner = ''
% else
	% set banner = ''
% endif

% if language == 'en'
	% set title = 'Ceremony and Reception'
% else
	% set title = ''
% endif

% block content
	% if language == 'en'

		<p>We will be getting married on Sunday, September 1, 2013 outside overlooking the rocky Maine coast at:</p>

		<blockquote><a class="external" href="http://www.sprucepointinn.com/">Spruce Point Inn</a><br/>
			88 Grandview Ave<br/>
			Boothbay Harbor, ME 04538, USA<br/>
			(207) 633-4152<br/>
		</blockquote>

		<p>The ceremony will begin in the late afternoon. In case of rain the ceremony will be moved indoors.</p>

		<h2>The Reception Party</h2>

		<p>After we are married, continue to enjoy the coastal Maine view during a cocktail reception on the pool deck. Then we will move to Pemaquid Hall for dinner and dancing.</p>

		<!--<p>Also please join us for the after party at ???</p>-->

	% else

	% endif
% endblock
