% extends "page.html"

% if language == 'en'
	% set banner = ''
% else
	% set banner = ''
% endif

% if language == 'en'
	% set title = 'Ceremony and Reception'
% else
	% set title = 'Huwelijk en Avondfeest'
% endif

% block content
	% if language == 'en'

		<p>We will be getting married on Sunday, September 1, 2013 outside overlooking the rocky Maine coast at:</p>

		<blockquote><a class="external" href="http://www.sprucepointinn.com/">Spruce Point Inn</a><br/>
			88 Grandview Ave<br/>
			Boothbay Harbor, ME 04538, USA<br/>
			(207) 633-4152
		</blockquote>

		<p>The ceremony will begin in the late afternoon. In case of rain the ceremony will be moved indoors.</p>

		<h2>The Reception Party</h2>

		<p>After we are married, continue to enjoy the coastal Maine view during a cocktail reception on the pool deck. Then we will move to Pemaquid Hall for dinner and dancing.</p>

		<!--<p>Also please join us for the after party at ???</p>-->

	% else

		<p>Wij treden in het huwelijk op zondag 1 september 2013 met uitzicht op de rotsachtige kust van Maine in:</p>

		<blockquote><a class="external" href="http://www.sprucepointinn.com/">Spruce Point Inn</a><br/>
			88 Grandview Ave<br/>
			Boothbay Harbor, ME 04538, USA<br/>
			(207) 633-4152
		</blockquote>

		<p>De huwelijksceremonie begint laat in de namiddag. In geval van regen wordt de huwelijksceremonie naar binnen verplaatst.</p>

		<h2>De Avondfeest</h2>

		<p>Na de ceremonie blijven we van het uitzicht van de kust in Maine genieten tijdens een cocktail receptie op het oceaan terras. Nadien gaan we gezellig tafelen en dansen in Pemaquid Hall.</p>

	% endif
% endblock
