% extends "page.html"

% if language == 'en'
	% set banner = ''
% else
	% set banner = ''
% endif

% if language == 'en'
	% set title = 'Getting Here'
% else
	% set title = 'Bereikbaarheid'
% endif

% block head
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
	$(function(){
		$('.google_map').gmap({
			'center': '43.830043,-69.622611',
			'zoom': 6,
			'callback': function(){
				var map = this;
				map.addMarker({
						'bounds': false,
						'position': '43.830043,-69.622611',
					})
					.click(function(){
						var content = "<strong>Spruce Point Inn</strong><br/>" +
										"88 Grandview Ave<br/>" + 
										"Boothbay Harbor, ME 04538, USA" 
						map.openInfoWindow({'content': content}, this);
					});
			}
		});
	});
</script>
% endblock 

% block content
	% if language == 'en'

		<div class="google_map"></div>

		<p>Spruce Point Inn is located on the rocky coast of Maine in Boothbay Harbor:</p>

		<blockquote><a class="external" href="http://www.sprucepointinn.com/">Spruce Point Inn</a><br/>
			88 Grandview Ave<br/>
			Boothbay Harbor, ME 04538, USA<br/>
		</blockquote>

		<p>Get directions from <a href="https://www.google.com/maps?daddr=Spruce+Point+Inn+Resort+%26+Spa,+88+Grandview+Ave,+Boothbay+Harbor,+ME+04538,+USA&hl=en&sll=42.036922,-71.683501&sspn=2.456028,4.916382&oq=Spruce+Point+Inn+88+Grandview+Ave+Boothbay+Harbor,+ME+04538,+USA&t=h&mra=ls&z=16">Google Maps</a>.</p>

		<h2>Directions to Spruce Point Inn</h2>

		<h3>From Points South (Boston)</h3>

		<ul>
			<li>Take I-95 North to Portland.</li>
			<li>As you are approaching Portland, take Exit 44 toward I-295 North</li>
			<li>After 28 miles, take Exit 28 to merge onto Rt. 1 toward Coastal Route/Brunswick Bath.</li>
			<li>Turn left in downtown Brunswick to stay on Rt. 1.</li>
			<li>After 20 miles, turn right onto ME-27 South/Boothbay Road. Follow this road for 10 miles into Boothbay Harbor.</li>
			<li>Turn left onto Union Street</li>
			<li>Turn right onto Atlantic Avenue</li>
			<li>Continue onto Grandview Avenue. Spruce Point Inn is at the end of this road.</li>
		</ul>

		<h3>From points north</h3>

		<ul>
			<li>Take a left at the big red barn</li>
			<li>Turn right at the moose</li>
			<li>Stop when you hear the ocean</li>
		</ul>

		<h3>Flying In</h3>

		<p>The closest airport is Portland International Jetport. It is about 1 hour 30 minutes south of Boothbay Harbor.</p>

		<p>Boston Logan International Airport is about 3 hours 15 minutes south of Boothbay Harbor, but with many more flights offers more options. From here you can rent a car, take a bus, or carpool with folks traveling from Boston.</p>

		<p><a class="external" href="http://www.concordcoachlines.com/maine/wiscasset.html">Concord Coach Lines</a> offers a bus from both Logan airport and Portland to nearby Wiscasset, Maine.</p>

	% else

		<div class="google_map"></div>

		<h2>Routebeschrijving naar Spruce Point Inn</h2>

		<p>Gebruik een GPS, het maakt alles een stuk gemakkelijker.</p>

		<blockquote><a class="external" href="http://www.sprucepointinn.com/">Spruce Point Inn</a><br/>
			88 Grandview Ave<br/>
			Boothbay Harbor, ME 04538, USA<br/>
		</blockquote>

		<h3>Vluchten</h3>

		<p>De dichtstbijzijnde luchthaven is Portland International Jetport. Het ligt ongeveer 1 uur en 30 minuten ten zuiden van Boothbay Harbor.</p>
		
		<p>Boston Logan International Airport is ongeveer 3 uur en 15 minuten ten zuiden van Boothbay Harbor, maar met veel meer vluchten biedt dit meer vlucht mogelijkheden.</p>

	% endif
% endblock
