% extends "base.html"

% set title = 'About the Venue'

% set banner = 'Our dearest family and friends are invited to join us for an adventure in Maine. The ceremony is on Sunday, September 1, 2013 at Spruce Point Inn in Boothbay Harbor, Maine. It is an opportunity to get together not only for us, but for each other. Each invitation is a heartfelt and sincere hope you will join us.'

% set content = 'We will be getting married outside overlooking the rocky Maine coast.
The ceremony will begin at  4pm??. In case of rain the ceremony will be moved indoors.
The Party
After we are married , you will continue enjoying the coastal Maine views during the cocktail reception on the pool deck. Then we will move to Pemaquid Hall for dinner at 6pm followed by lots of dancing.
Also please join us for the after party at ???
Directions to Spruce Point Inn
From points south (Boston)
Take I-95 North to Portland.
As you are approaching Portland, take Exit 44 toward I-295 North
After 28 miles, take Exit 28 to merge onto Rt. 1 South toward Coastal Route/Brunswick Bath.
Turn left in downtown Brunswick to stay on Rt. 1.
After 20 miles, turn right onto ME-27 South/Boothbay Road. Follow this road for 10 miles into Boothbay Harbor.
Turn left onto Union Street
Turn right onto Atlantic Avenue
Continue onto Grandview Avenue. Spruce Point Inn is at the end of this road.
International Travel
The closest airport is Portland International Jetport. It is about 1 hour 30 minutes south of Boothbay Harbor.
Boston Logan International Airport is about 3hours 15 minutes south of Boothbay Harbor, but with many more flights may offer more options. From here you can rent a car or carpool with folks traveling from Boston.
Concord Coach Lines offers a bus from both Logan airport and Portland to Wiscasset, Maine (http://www.concordcoachlines.com/maine/wiscasset.html).'
