% extends "base.html"

% block banner
<div class="wrapper wrapper_banner">
	<div class="banner container">
		% if language == 'en'
			<div class="eight columns alpha">
				<img src="/static/images/structure/banner-pictures.png"><br/>
			</div>
			<div class="eight columns omega">
				<p>Our dearest family and friends are invited to join us for a wedding adventure in Maine. It is an opportunity to get together not only for us, but for each other. Each invitation is a heartfelt and sincere hope you will join us.</p>
			</div>
		% else
			<div class="eight columns alpha">
				<img src="/static/images/structure/banner-pictures.png"><br/>
			</div>
			<div class="eight columns omega">
				<p>Als geliefde familie en vrienden zijn jullie uitgenodigd om samen ons bruiloft avontuur in Maine te vieren. Het is een gelegenheid om samen te komen, niet alleen voor ons, maar voor elkaar. Elke uitnodiging is een hartelijke en oprechte hoop dat u zal deelnemen.</p>
			</div>
		% endif
	</div>
</div>
% endblock

% set title = ''

% block content
% endblock
