% extends "base.html"

% block banner
<div class="wrapper wrapper_banner">
	<div class="banner container">
		% if language == 'en'
			<!--<img src="/static/images/structure/maine.png" style="float:left; margin:0px 50px 0px 0px; display:none;"/><br/>-->
			Our dearest family and friends are invited to join us for a wedding adventure in Maine. It is an opportunity to get together not only for us, but for each other. Each invitation is a heartfelt and sincere hope you will join us.
		% else
			<!--<img src="/static/images/structure/maine.png" style="float:left; margin:0px 50px 0px 0px; display:none;"/><br/>-->
			Onze geliefde familie en vrienden zijn uitgenodigd voor een bruiloft avontuur in Maine samen met ons. Het is een gelegenheid om samen te komen, niet alleen voor ons, maar voor elkaar. Elke uitnodiging is een hartelijke en oprechte hoop dat u wil meedoen.
		% endif
	</div>
</div>
% endblock

% set title = ''

% block content
% endblock
