% extends "page.html"

% if language == 'en'
	% set banner = ''
% else
	% set banner = ''
% endif

% if language == 'en'
	% set title = 'Photo Album'
% else
	% set title = 'Fotoalbum'
% endif

% macro _photo_album_image(image)
	<span class="image five columns">
		<a href="{{ image }}">
		    <img src="{{ image }}"/>
		</a>
	</span>
% endmacro

% macro _photo_album(images)
    <div class="photo-album">
	% for image in images:
		{{ _photo_album_image(image) }}
	% endfor
	</div>
% endmacro

% block content
	% if photo_album_images
		{{ _photo_album(photo_album_images) }}
	% else
		<p>Coming soon!</p>
	% endif
% endblock
