% extends "base.html"

% if language == 'en'
	% set banner = ''
% else
	% set banner = ''
% endif

% if language == 'en'
	% set title = 'Registry'
% else
	% set title = ''
% endif

% block content
	% if language == 'en'

	<p>Family and Friends, the best gift you can give is supporting our marriage by joining us for our wedding ceremony and celebration. Please do not feel compelled to buy gifts.</p>

	<p>We are so excited to spend our day with you all!</p>

	<h2>But if we can't convince you otherwise...</h2>
	 	
	<p>We are saving up for for a down-payment on a home of our own and would appreciate monetary contributions.</p>

	<p>If you'd prefer a more tangible gift, we will post store information here as soon as it becomes available.</p>

	% else

	% endif
% endblock
