% extends "base.html"

% if language == 'en'
	% set banner = ''
% else
	% set banner = ''
% endif

% if language == 'en'
	% set title = 'Registry'
% else
	% set title = 'Huwelijkslijst'
% endif

% block content
	% if language == 'en'

		<p>Family and Friends, the best gift you can give is supporting our marriage by joining us for our wedding ceremony and celebration. Please do not feel compelled to buy gifts.</p>

		<p>We are so excited to spend our day with you all!</p>

		<h2>But if we can't convince you otherwise...</h2>
	 		
		<p>We are saving up for a down payment on a home of our own and would appreciate monetary contributions.</p>

		<p>If you'd prefer a more tangible gift, we will post store information here soon.</p>

	% else

		<p>Familie en Vrienden, het het beste geschenk dat u ons kan geven is het bijwonen van ons huwelijk. Wij wensen vooral dat jullie samen met ons deze grote dag komen vieren. Voel u alsjeblieft niet verplicht een geschenk te kopen.</p>

		<p>We zijn zeer blij dat we onze special dag met jullie kunnen delen!</p>

		<h2>Maar als we u niet kunnen overtuigen...</h2>
	 		
		<p>We zijn aan het sparen om ons eigen huis te kopen en zouden monetaire bijdrage zeer appreciëren.</p>

		<p>Als je liever een geschenk geeft, zullen we binnenkort meer huwelijkeslijst informatie hier plaatsen.</p>

	% endif
% endblock
