% extends "page.html"

% if language == 'en'
	% set banner = ''
% else
	% set banner = ''
% endif

% if language == 'en'
	% set title = 'Rehearsal Dinner'
% else
	% set title = ''
% endif

% block content
	% if language == 'en'

		<p>Join the Venicx family for a downeast clambake to celebrate Gitte and Chris before the big day!</p>

		<p>Chris and Gaby Venicx invite all guests to the rehearsal dinner on Saturday, August 31, 2013.</p>

		<blockquote>
			<a href="http://www.cabbageislandclambakes.com/index.htm">Cabbage Island Clambakes</a></br>
			22 Commercial Street<br/>
			Fisherman's Wharf<br/>
			Boothbay Harbor, Maine 04538<br/>
			<br/>
			Saturday, August, 31, 2013<br/>
			<strong>catch the boat by 4:30PM and return by Dark</strong><br/>
		</blockquote>

		<p>When you arrive at the pier make sure to identify yourself as part of the wedding party. Tickets for the boat ride, dinner, and drinks are already paid for. Just make sure you don't miss the boat!</p>

		<h3>Who is invited?</h3>
		<p>Everyone! If you've received a wedding invitation, you should feel welcome to attend the rehearsal dinner.</p>

		<h3>What should I wear?</h3>
		<p>Something casual and comfortable. The weather cools off quickly at night, be sure to bring extra layers to stay warm.</p>

		<h3>What does it cost?</h3>
		<p>Nothing! Dinner, drinks and transport are paid for courtesy of the parents of the bride, Chris and Gaby Venicx.</p>

		<h3>What if it rains?</h3>
		<p>The event is still on! Cabbage Island Clambakes has indoor seating on the boat and an indoor hall on the island.</p>

		<h3>What if we're late?</h3>
		<p>We suggest arriving by 4:30PM because the boat leaves at 5:00PM. And we can't hold the boat, so make sure to get there early!</p>

		<h3>When does the boat return?</h3>
		<p>Cabbage Island Clambakes returns by dark. The sun should set at 7:15PM, so we should be back around 8:00PM. This is not a precise science!</p>

		<h3>Where can I get more information?</h3>
		<p><a href="http://www.cabbageislandclambakes.com/index.htm">The Cabbage Island Clambakes website</a></p>

		<h3>How do we RSVP?</h3>
		<p>Please RSVP before August 15, 2013 by emailing Gitte at <a href="mailto:&#103;&#118;&#101;&#110;&#105;&#099;&#120;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#103;&#118;&#101;&#110;&#105;&#099;&#120;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a> so that we purchase the correct number of tickets.</p>

	% else

	% endif
% endblock

