% extends "page.html"

% if language == 'en'
	% set banner = ''
% else
	% set banner = ''
% endif

% if language == 'en'
	% set title = 'RSVP'
% else
	% set title = 'RSVP'
% endif

% if language == 'en'
	% set title = 'RSVP'
% else
	% set title = 'RSVP'
% endif

% set page_content = {
	'deadline': {
		'en': "Please RSVP by August 1, 2013. If you need more time, let us know!",
		'be': "Aub reageren tegen 1 augustus 2013. Als u meer tijd nodig hebt, laat het ons weten!",
	},
	'intro': {
		'en': "Already RSVP'd but plans have changed? No problem! Submit a new RSVP form - we'll only look at the latest one submitted. Trickier situation than that? Contact either of us and we'll figure it out together.",
		'be': "Heeft u al beantwoord, maar de plannen zijn veranderd? Geen probleem! Voeg een nieuw RSVP formulier - we kijken alleen naar de laatste ingediend. Ingewikkelder situatie dan dat? Contact Gitte en we zullen en oplossing vinden."
	},
	'attending_question': {
		'en': "Are you coming?",
		'be': "Kom je?"
	},
	'attending_answer_yes': {
		'en': "Yes, we're in!",
		'be': "Ja, we zijn er bij!"
	},
	'attending_answer_no': {
		'en': "No, we can't make it",
		'be': "Nee, we kunnen helaas niet aanwezig zijn"
	},
	'name_question': {
		'en': "What's your name?",
		'be': "Wat is uw naam?"
	},
	'guests_question': {
		'en': "What are the names of your guests?",
		'be': "Wat zijn de namen van uw gasten?"
	},
	'guests_helper_text': {
		'en': "Children are welcome, and adults can bring a guest. Want to bring a date but not sure who it will be yet? Just write \"guest\" and we'll reserve a space!",
		'be': "Kinderen zijn welkom, en volwassenen kunnen een gast meenemen. Wilt u iemand meebrengen, maar niet zeker wie het zal zijn? Schrijf gewoon \"gast\" en we zullen en plaats reserveren!"
	},
	'allergies_question': {
		'en': "Food Preferences",
		'be': "Diner beperkingen"
	},
	'allergies_helper_text': {
		'en': "<p>Please indicate each guest's entrée choice and any food allergies:</p>
				<ul>
					<li>Filet of Sole stuffed with Maine Crabmeat</li>
					<li>Petite Filet Mignon</li>
					<li>Surf and turf (Filet Mignon and Stuffed Sole)</li>
					<li>Roasted vegetables with quinoa (vegetarian/vegan/gluten free)</li>
				</ul>",
		'be': "Een vegetariër? Allergisch voor gluten? Liever rood vlees? Hou je niet van vis? Laat het ons weten!"
	},
	'comments_question': {
		'en': "Other Comments",
		'be': "Andere Opmerkingen"
	},
	'comments_helper_text': {
		'en': "Anything else we should know to make the wedding experience the best for you and your guests?",
		'be': "Is er nog iets dat we moeten weten van u of uw gaste voor de bruiloft?"
	},
	'submit_button': {
		'en': "Submit RSVP",
		'be': "Toevoeg uw RSVP"
	}
}

% macro _error_message(form_errors)
	% if language == 'en'
		% set error_intro = 'Oops! We need some more information:'
		% set error_messages = {
			'attending': 'Please select whether you are attending',
			'name': 'Please put your full name in the "Name" field'
		}
	% else
		% set error_intro = 'We hebben iets meer informatie nodig:'
		% set error_messages = {
			'attending': 'Gelieve to vermelden of u deelneemt of niet',
			'name': 'Niet vergeten on uw naam to schrijven'
		}
	% endif
	<div class="message error">
		<p>{{ error_intro }}</p>
		<ul>
			% for error in form_errors 
				<li>{{ error_messages[error] }}</li>
			% endfor 
		</ul>
	</div>
% endmacro

% macro _success_message(is_attending)
	% if language == 'en':
		% set intro = "We've received your RSVP"
		% if is_attending
			% set message = "So glad you can make it!"
		% else
			% set message = "You'll be there in spirit!"
		% endif
	% else
		% set intro = "We hebben uw RSVP"
		% if is_attending
			% set message = "Zo blij dat je kunt komen!"
		% else
			% set message = "Jammer dat je niet kunt komen."
		% endif
	% endif
	<div class="message success">
		<p>{{ intro }}. {{ message }}</p>
	</div>
% endmacro

% macro _value(name)
{% if name in post -%}
	{{ post[name] }}
{%- endif %}
% endmacro

% macro _radio_checked(name, value)
{% if name in post and post[name] == value -%}
 checked="checked"
{%- endif %}
% endmacro

% macro _content(key)
{% if key in page_content -%}
{{ page_content[key][language]|safe }}
{%- endif %}
% endmacro

% block content

	% if form_success

		{{ _success_message(is_attending) }}

	% elif form_errors

		{{ _error_message(form_errors) }}

	% endif

		<p>{{ _content('deadline') }}<p>

		<p>{{ _content('intro') }}<p>

	% if not form_success
		
		<form action="" method="post">
			<table class="rsvp">
				<tbody class="question">
					<tr>
						<td>
							<label class="question" for="attending">{{ _content('attending_question') }}</label>
						</td>
					</tr>
					<tr>
						<td>
							<input {{ _radio_checked('attending', 'yes') }} class="radio" name="attending" type="radio" value="yes"><label class="radio answer">{{ _content('attending_answer_yes') }}</label></input>
							<input {{ _radio_checked('attending', 'no') }} class="radio" name="attending" type="radio" value="no"><label class="radio answer">{{ _content('attending_answer_no') }}</label></input>
						</td>
					</tr>
				</tbody>
				<tbody class="question">
					<tr>
						<td>
							<label class="question" for="name">{{ _content('name_question') }}</label>
						</td>
					</tr>
					<tr>
						<td>
							<input class="text" name="name" type="text" value="{{ _value('name') }}"/>
						</td>
					</tr>
				</tbody>
				<tbody class="question">
					<tr>
						<td>
							<label class="question" for="guests">{{ _content('guests_question') }}</label>
							<p>{{ _content('guests_helper_text') }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<input class="text guests" name="guests" type="text" value="{{ _value('guests') }}"/>
						</td>
					</tr>
				</tbody>
				<tbody class="question">
					<tr>
						<td>
							<label class="question" for="allergies">{{ _content('allergies_question') }}</label>
							<p>{{ _content('allergies_helper_text') }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<textarea name="allergies">{{ _value('allergies') }}</textarea>
						</td>
					</tr>
				</tbody>
				<tbody class="question">
					<tr>
						<td>
							<label class="question" for="comments">{{ _content('comments_question') }}</label>
							<p>{{ _content('comments_helper_text') }}</p>
						</td>
					</tr>
					<tr>
						<td>
							<textarea name="comments">{{ _value('comments') }}</textarea>
						</td>
					</tr>
				</tbody>
				<tbody class="submit">
					<tr>
						<td>
							<input class="submit" name="save" type="submit" value="{{ _content('submit_button') }}">
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	% endif

% endblock
