% extends "page.html"

% if language == 'en'
	% set banner = ''
% else
	% set banner = ''
% endif

% if language == 'en'
	% set title = 'RSVP'
% else
	% set title = ''
% endif

% macro _error_message(form_errors)
	<div class="message error">
		<p>Oops! We need some more information:</p>
		<ul>
			% for error in form_errors 
			<li>{{ error }}</li>
			% endfor
		</ul>
	</div>
% endmacro

% macro _value(name)
{% if name in post -%}
	{{ post[name] }}
{%- endif %}
% endmacro

% block content
	% if language == 'en'

	% else

	% endif

	% if form_errors
		{{ _error_message(form_errors) }}
	% endif

	<p>Please RSVP by August 1, 2013. If you need more time, let us know!</p>

	<p>Already RSVP'd but plans have changed? No problem! Submit a new RSVP form - we'll only look at the latest one submitted. Trickier situation than that? Contact either of us and we'll figure it out together.</p>
	
	<form action="" method="post">
		<table class="rsvp">
			<tbody class="question">
				<tr>
					<td>
						<label class="question" for="attending">Are you coming?</label>
					</td>
				</tr>
				<tr>
					<td>
						<input class="radio" name="attending" type="radio" value="yes"><label class="radio answer">Yes, we're in!</label></input><input class="radio" name="attending" type="radio" value="no"><label class="radio answer">No, we can't make it</label></input>
					</td>
				</tr>
			</tbody>
			<tbody class="question">
				<tr>
					<td>
						<label class="question" for="name">What's your name?</label>
					</td>
				</tr>
				<tr>
					<td>
						<input class="text" name="name" type="text" value="{{ _value('name') }}"/>
					</td>
				</tr>
			</tbody>
			<tbody class="question">
				<tr>
					<td>
						<label class="question" for="guests">What are the names of your guests?</label>
						<p>Children are welcome, and adults can bring a guest. Want to bring a date but not sure who it will be yet? Just write "guest" and we'll reserve a space!</p>
					</td>
				</tr>
				<tr>
					<td>
						<input class="text" name="guests" type="text" value="{{ _value('guests') }}"/>
					</td>
				</tr>
			</tbody>
			<tbody class="question">
				<tr>
					<td>
						<label class="question" for="allergies">Food Preferences</label>
						<p>Prefer red meat? Don't like fish? Are a vegetarian? Allergic to gluten? Let us know!</p>
					</td>
				</tr>
				<tr>
					<td>
						<textarea name="allergies">{{ _value('allergies') }}</textarea>
					</td>
				</tr>
			</tbody>
			<tbody class="question">
				<tr>
					<td>
						<label class="question" for="comments">Other Comments</label>
						<p>Anything else we should know to make the wedding experience the best for you and your guests?</p>
					</td>
				</tr>
				<tr>
					<td>
						<textarea name="comments">{{ _value('comments') }}</textarea>
					</td>
				</tr>
			</tbody>
			<tbody class="submit">
				<tr>
					<td>
						<input name="save" type="submit" value="Submit RSVP">
					</td>
				</tr>
			</tbody>
		</table>
	</form>
% endblock
