% extends "page.html"

% if language == 'en'
	% set banner = ''
% else
	% set banner = ''
% endif

% if language == 'en'
	% set title = 'RSVP'
% else
	% set title = ''
% endif

% macro _error_message(form_errors)
	<div class="message error">
		<p>Oops! We need some more information:</p>
		<ul>
			% for error in form_errors 
			<li>{{ error }}</li>
			% endfor
		</ul>
	</div>
% endmacro

% macro _value(name)
{% if name in post -%}
	{{ post[name] }}
{%- endif %}
% endmacro

% block content
	% if language == 'en'

	% else

	% endif

	% if form_errors
		{{ _error_message(form_errors) }}
	% endif

	<form action="" method="post">
		Attending <input checked="checked" name="attending" type="radio" value="yes"><label>Yes</label></input><input name="attending" type="radio" value="no"><label>No</label></input><br/>
		Your Name <input name="name" type="text" value="{{ _value('name') }}"/><br/>
		Guest Name(s) <input name="guests" type="text" value="{{ _value('guests') }}"/><br/>
		Food Preferences / Allergies <textarea name="allergies">{{ _value('allergies') }}</textarea><br/>
		Other comments <textarea name="comments">{{ _value('comments') }}</textarea><br/>
		<input name="save" type="submit">
	</form>
% endblock
