% extends "base.html"

% block body

<div class="save-the-date">

    <table class="save-the-date" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="margin: 0;padding: 0;height: 100%;width: 100%;">
        <tr>
            <td align="center" valign="top">
                <!-- // Begin Template Preheader \ -->
                <table border="0" cellpadding="0" cellspacing="0" width="600" height="50px;">
                    <tr>
                        <td valign="bottom"></td>
                    </tr>
                </table>
                <!-- // End Template Preheader \ -->
                <table border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #FAF7F0;background-color: #FFFFFF;">
                    <tr>
                        <td align="center" valign="top">
                            <!-- // Begin Template Body \ -->
                            <table border="0" cellpadding="0" cellspacing="0" width="600">
                                <tr>
                                    <td align="center" valign="top" style="text-align:center">
                                        <a href="http://chrisandgitte.com/"><img src="/static/images/email/save-the-date.jpg" width="600" height="390" alt="Save the date: September 1, 2013: Chris &amp; Gitte are getting married: Boothbay Harbor, Maine, USA: www.chrisandgitte.com" style="display:block; font-style:italic; font-size:18px; line-height:20px; color:#0192B5; border:0; background-color:#CCE9F0;" align="absbottom"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" style="border-bottom:1px solid #ebebeb; border-bottom-color:#ebebeb; border-bottom-width:1px; border-bottom-style:solid; background-color: #FFFFFF;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td valign="top">
                                                            <!-- // Begin Intro section \-->
                                                            <table border="0" cellpadding="0" cellspacing="0" align="center" width="460" style="padding-left:70px;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="center" valign="top" style="text-align:center">
                                                                            <table border="0" cellpadding="0" cellspacing="0" width="460" align="center">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td align="center" valign="top" style="text-align:center">
                                                                                            <div style="-webkit-text-size-adjust: none;margin-top:0px;margin-left:auto; margin-right:auto;padding:0;background-color:#ffffff;width: 460px;color:#7E7357;font-family:Georgia,times,serif;text-align:center;font-size:15px;line-height:24px;">
                                                                                                <br>
                                                                                                <br>
Chris Laskey and Gitte Venicx are getting married on September 1, 2013 at Spruce Point Inn in Boothbay Harbor, Maine, USA
                                                                                                <br>
                                                                                                <br>
																								For more information on the wedding visit our website at <a href="http://chrisandgitte.com/" target="_blank" style="color:#7e7357;">www.chrisandgitte.com</a>
                                                                                                <br>
                                                                                                <br>
                                                                                                Invitations to follow
                                                                                                <br>
                                                                                                <br>
                                                                                            <br>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        <!-- // End Intro section \-->
                                                    </td>
                                                </tr>
                                            </table>
                                        <!-- // End Module: Standard Content \ -->
                                    </td>
                                </tr>
                            </table>
                        <!-- // End Template Body \ -->
                        </td>
                    </tr>
                </table>
                <br>
            </td>
        </tr>
    </table>

</div>

% endblock
