% extends "base.html"

% set banner = 'Our dearest family and friends are invited to join us for an adventure in Maine. The ceremony is on Sunday, September 1, 2013 at Spruce Point Inn in Boothbay Harbor, Maine. It is an opportunity to get together not only for us, but for each other. Each invitation is a heartfelt and sincere hope you will join us.'

% set title = 'Ceremony'

% block content
	<p>We will be getting married outside overlooking the rocky Maine coast at:</p>

	<blockquote><strong><a class="external" href="http://www.sprucepointinn.com/">Spruce Point Inn</a></strong><br/>
		88 Grandview Ave<br/>
		Boothbay Harbor, ME 04538<br/>
		(207) 633-4152<br/>
		<a class="external" href="http://www.sprucepointinn.com/">http://www.sprucepointinn.com/</a><br/>
	</blockquote>

	<p>The ceremony will begin at 4:00pm. In case of rain the ceremony will be moved indoors.</p>

	<h2>The Party</h2>

	<p>After we are married , you will continue enjoying the coastal Maine views during the cocktail reception on the pool deck. Then we will move to Pemaquid Hall for dinner at 6pm followed by lots of dancing.</p>

	<p>Also please join us for the after party at ???</p>

	<h2>Directions to Spruce Point Inn</h2>

	<h3>From points south (Boston)</h3>

	<ul>
		<li>Take I-95 North to Portland.</li>
		<li>As you are approaching Portland, take Exit 44 toward I-295 North</li>
		<li>After 28 miles, take Exit 28 to merge onto Rt. 1 South toward Coastal Route/Brunswick Bath.</li>
		<li>Turn left in downtown Brunswick to stay on Rt. 1.</li>
		<li>After 20 miles, turn right onto ME-27 South/Boothbay Road. Follow this road for 10 miles into Boothbay Harbor.</li>
		<li>Turn left onto Union Street</li>
		<li>Turn right onto Atlantic Avenue</li>
		<li>Continue onto Grandview Avenue. Spruce Point Inn is at the end of this road.</li>
	</ul>

	<h3>International Travel</h3>

	<p>The closest airport is Portland International Jetport. It is about 1 hour 30 minutes south of Boothbay Harbor.</p>

	<p>Boston Logan International Airport is about 3 hours 15 minutes south of Boothbay Harbor, but with many more flights may offer more options. From here you can rent a car or carpool with folks traveling from Boston.</p>

	<p><a class="external" href="http://www.concordcoachlines.com/maine/wiscasset.html">Concord Coach Lines</a> offers a bus from both Logan airport and Portland to Wiscasset, Maine.</p>
% endblock

