% extends "page.html"

% if language == 'en'
	% set banner = ''
% else
	% set banner = ''
% endif

% if language == 'en'
	% set title = 'Your Time in Maine'
% else
	% set title = 'Uw Tijd in Maine'
% endif

% block content
	% if language == 'en'

		<p>The ceremony and reception site at Spruce Point Inn is located close to downtown Boothbay Harbor. There are plenty of places to stay in the surrounding area at a variety of price points.</p>
		
		<p>We will be in Boothbay Harbor for Labor Day weekend and welcome you to enjoy Maine for the long weekend.</p>

		<h2>Staying at Spruce Point Inn</h2>
		
		<p>Amenities at Spruce Point Inn include saltwater and freshwater pools, clay tennis courts, fitness room, yoga, hiking trails, kayaks, bicycles, shuffleboard, complementary harbor tours, and hammocks. Spruce Point Inn is a luxury resort and prices are on the high end compared to other accommodations in Boothbay Harbor.</p>

		<blockquote><a class="external" href="http://www.sprucepointinn.com/">Spruce Point Inn</a><br/> http://www.sprucepointinn.com/</blockquote>

		<p>We have reserved a block of rooms at Spruce Point Inn at a discounted rate for our guests. The rooms vary in size and price but all have a 3 night minimum stay. To reserve one of these rooms or find out more about them, please contact Cindy Poe (207-633-4152 or <a href="mailto:&#099;&#112;&#111;&#101;&#064;&#115;&#112;&#114;&#117;&#099;&#101;&#112;&#111;&#105;&#110;&#116;&#105;&#110;&#110;&#046;&#099;&#111;&#109;">&#099;&#112;&#111;&#101;&#064;&#115;&#112;&#114;&#117;&#099;&#101;&#112;&#111;&#105;&#110;&#116;&#105;&#110;&#110;&#046;&#099;&#111;&#109;</a>). In order to take advantage of the discount you must book by May 4th.</p>

		<h2>Other Hotels and Bed &amp; Breakfasts in Boothbay Harbor</h2>

		<p>If Spruce Point Inn is not a match for you, below are links to several other options for accommodations in the area. We also recommend <a class="external" href="http://www.tripadvisor.com/">www.tripadvisor.com</a> or your favorite hotel search engine. With a multitude of options in the area, there is something for everyone.</p>

		<h3>Hotels</h3>

		<table cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>Brown’s Warf Inn</td>
					<td>http://www.brownswharfinn.com/</td>
				</tr>
				<tr>
					<td>Cap’n Fish’s Waterfront Inn</td>
					<td>http://www.boothbaywaterfront.com/</td>
				</tr>
				<tr>
					<td>Fisherman’s Warf Inn</td>
					<td>http://www.fishermanswharfinn.com/</td>
				</tr>
				<tr>
					<td>Tugboat Inn</td>
					<td>http://www.tugboatinn.com/</td>
				</tr>
				<tr>
					<td>Boothbay Harbor Inn</td>
					<td>http://www.boothbayharborinn.com/</td>
				</tr>
				<tr>
					<td>Rocktide Inn</td>
					<td>http://www.rocktideinn.com/</td>
				</tr>
			</tbody>
		</table>

		<h3>Bed and Breakfasts</h3>

		<table cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>Bayberry House</td>
					<td>http://www.bayberryhousemaine.com/</td>
				</tr>
				<tr>
					<td>Atlantic Ark Inn</td>
					<td>http://www.atlanticarkinn.com/</td>
				</tr>
				<tr>
					<td>Pond House</td>
					<td>http://pondhousemaine.com/</td>
				</tr>
				<tr>
					<td>Topside Inn</td>
					<td>http://www.topsideinn.com/</td>
				</tr>
				<tr>
					<td>Greenleaf Inn</td>
					<td>http://www.greenleafinn.com/</td>
				</tr>
			</tbody>
		</table>

		<h2>Making the Most of Your Time in Maine</h2>

		<p>Maine offers breathtaking natural landscapes and a variety of fun activities. Whether you are coming up for just the ceremony or staying for Labor Day weekend, here are a few activities:</p>

		<h3>On the Ocean</h3>

		<table cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>Whale watching</td>
					<td>http://www.mainewhales.com/</td>
				</tr>
				<tr>
					<td>Sailing</td>
					<td>-</td>
				</tr>
				<tr>
					<td>Kayaking</td>
					<td>http://chamber.boothbayharbor.com/list/category/kayaking-7</td>
				</tr>
				<tr>
					<td>Fishing</td>
					<td>http://chargersportfishing.com/</td>
				</tr>
			</tbody>
		</table>

		<h3>On Land</h3>

		<table cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>Maine State Aquarium</td>
					<td>http://www.maine.gov/dmr/rm/aquarium/index.html</td>
				</tr>
				<tr>
					<td>Boothbay Craft Brewery</td>
					<td>http://boothbaycraftbrewery.com/</td>
				</tr>
				<tr>
					<td>Coastal Maine Botanic Garden</td>
					<td>http://www.mainegardens.org/</td>
				</tr>
				<tr>
					<td>Horseback riding</td>
					<td>-</td>
				</tr>
				<tr>
					<td>Burnt Island Light Station</td>
					<td>http://lighthouse.cc/burntisland/</td>
				</tr>
				<tr>
					<td>Hiking</td>
					<td>http://www.bbrlt.org/</td>
				</tr>
			</tbody>
		</table>

		<h3>Shop</h3>

		<p>Stroll through the downtown streets for local artists, craftsmen, galleries, artist studios, antique shops, and specialty stores.</p>

		<p>In the mood for some outlet shopping? A 50 minute drive south will bring your to Freeport, home of L.L. Bean and many name brand outlet shops.</p>

		<h3>General Information</h3>

		<table cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>Boothbay Harbor Chamber of Commerce</td>
					<td>http://www.boothbayharbor.com/</td>
				</tr>
				<tr>
					<td>TripAdvisor</td>
					<td>http://www.tripadvisor.com/Travel-g40525-s406/Boothbay-Harbor:Maine:Sports.And.Activities.html</td>
				</tr>
			</tbody>
		</table>

	% else

		<p>De huwelijks en feest locatie op Spruce Point Inn is dicht bij het centrum van Boothbay Harbor gelegen. In de omgeving zijn veel plaatsen om te verblijven in verscheide prijsklassen.</p>
		
		<p>We zullen in Boothbay Harbor verblijven voor Labor Day weekend en heten u welkom om van Maine te genieten voor het lange weekend.</p>

		<h2>Logeren in Spruce Point Inn</h2>
		
		<p>Voorzieningen bij Spruce Point Inn zijn zout en zoet water zwembaden, tennisbanen, een fitnessruimte, yoga, wandelpaden, kajaks, fietsen, shuffleboard, complementaire haven tours, en hangmatten. Spruce Point Inn is een luxe resort en de prijzen zijn aan de hoge kant in vergelijking met andere accommodaties in Boothbay Harbor verblijven.</p>

		<blockquote><a class="external" href="http://www.sprucepointinn.com/">Spruce Point Inn</a><br/> http://www.sprucepointinn.com/</blockquote>

		<p>We hebben een blok kamers gereserveerd bij Spruce Point Inn met korting voor onze gasten. De kamers variëren in maat en prijs, maar hebben allemaal een 3 nacht minimum verblijf. Om een van deze kamers te reserveren of meer informatie over hen te vinden, kunt u Cindy Poe (207-633-4152 of <a href="mailto:&#099;&#112;&#111;&#101;&#064;&#115;&#112;&#114;&#117;&#099;&#101;&#112;&#111;&#105;&#110;&#116;&#105;&#110;&#110;&#046;&#099;&#111;&#109;">&#099;&#112;&#111;&#101;&#064;&#115;&#112;&#114;&#117;&#099;&#101;&#112;&#111;&#105;&#110;&#116;&#105;&#110;&#110;&#046;&#099;&#111;&#109;</a>) contacteren. Om te genieten van de korting moet u reserveren voor 4 mei.</p>

		<h2>Andere Hotels en Bed & Breakfasts in Boothbay Harbor</h2>

		<p>Als Spruce Point Inn niet voor u geschikt is, vind je web links naar verschillende andere opties om te logeren in het gebied. Wij raden ook <a class="external" href="http://www.tripadvisor.com/">www.tripadvisor.com</a> of uw lievelings hotel zoekmachine aan. Met de vele opties in het gebied, is er iets voor iedereen.</p>

		<h2>Maak het Meeste van Uw Tijd in Maine</h2>

		<p>Maine heeft een prachtige natuurlijke landschap en verschillende leuke activiteiten. Als u komt voor het huwelijk of verblijft voor het Labor Day weekend, hier zijn enkele activiteiten:</p>

		<h3>Aan Zee</h3>

		<table cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>Walvissen spotten</td>
					<td>http://www.mainewhales.com/</td>
				</tr>
				<tr>
					<td>Zeilen</td>
					<td>-</td>
				</tr>
				<tr>
					<td>Kajakken</td>
					<td>http://chamber.boothbayharbor.com/list/category/kayaking-7</td>
				</tr>
				<tr>
					<td>Vissen</td>
					<td>http://chargersportfishing.com/</td>
				</tr>
			</tbody>
		</table>

		<h3>Op Het Land</h3>

		<table cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>Aquarium van Maine</td>
					<td>http://www.maine.gov/dmr/rm/aquarium/index.html</td>
				</tr>
				<tr>
					<td>Boothbay Craft Brouwerij</td>
					<td>http://boothbaycraftbrewery.com/</td>
				</tr>
				<tr>
					<td>Coastal Maine Botanische Tuin</td>
					<td>http://www.mainegardens.org/</td>
				</tr>
				<tr>
					<td>Paardrijden</td>
					<td>-</td>
				</tr>
				<tr>
					<td>Burnt Island Vuurtoren</td>
					<td>http://lighthouse.cc/burntisland/</td>
				</tr>
				<tr>
					<td>Hiking/wandelen</td>
					<td>http://www.bbrlt.org/</td>
				</tr>
			</tbody>
		</table>

		<h3>Winkelen</h3>

		<p>Wandel door de straten van het centrum voor lokale kunstenaars, ambachtslieden, galeries, kunstenaar studios, antiekwinkels en speciaalzaken.</p>

		<p>Zin in outlet shopping? Freeport is 50 minuten rijden ten zuiden en brengt je naar LL Bean en vele populaire merk outlet winkels.</p>

		<h3>Algemene Informatie Over Boothbay Harbor</h3>

		<table cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>Boothbay Harbor Chamber of Commerce</td>
					<td>http://www.boothbayharbor.com/</td>
				</tr>
				<tr>
					<td>TripAdvisor</td>
					<td>http://www.tripadvisor.com/Travel-g40525-s406/Boothbay-Harbor:Maine:Sports.And.Activities.html</td>
				</tr>
			</tbody>
		</table>

	% endif
% endblock
