<!DOCTYPE html>
<html>
<head>
	% include "structure/head.html"
	% block head
	% endblock
</head>

<body class="{{ body_class }}">

<div class="wrapper wrapper_header">
	<div class="header container">
		% block header
		% include "structure/header.html"
		% endblock
	</div>
</div>

<div class="wrapper wrapper_banner">
	<div class="banner container">
		<div class="row">
			<div class="span10 offset1">
				{{ banner }}
			</div>
		</div>
	</div>
</div>

<div class="wrapper wrapper_main">
	<div class="main container">
		<div class="content span10 offset1">
			% block main
				% block content
				<h1>{{ title }}</h1>
				{{ content }}
				% endblock
			% endblock
		</div>
	</div>
</div>

<div class="wrapper wrapper_footer">
	<div class="footer container">
		% block footer
		% include "structure/footer.html"
		% endblock
	</div>
</div>

</body>
</html>
