<!DOCTYPE html>
<html>
<head>
	% include "structure/head.html"
	% block head
	% endblock
</head>

<body class="{{ body_class }}">

<div class="wrapper wrapper_header">
	<div class="header container">
		% block header
		% include "structure/header.html"
		% endblock
	</div>
</div>

% block banner
	% if banner
	<div class="wrapper wrapper_banner">
		<div class="banner container">
			<div class="row">
				<div class="span10 offset1">
					{{ banner }}
				</div>
			</div>
		</div>
	</div>
	% endif
% endblock

<div class="wrapper wrapper_main">
	<div class="main container">
		<div class="row">
			<div class="span10 offset1">
				% block main
				<div class="content">
					<h1>{{ title }}</h1>
					% block content
					{{ content }}
					% endblock
				</div>
				% endblock
			</div>
		</div>
	</div>
</div>

<div class="wrapper wrapper_footer">
	<div class="footer container">
		% block footer
		% include "structure/footer.html"
		% endblock
	</div>
</div>

</body>
</html>
